@using PagedList;
@using PagedList.Mvc;

@*@model IEnumerable<PetsMapsCF.Models.Members>*@
@model IPagedList<PetsMapsCF.Models.Members>

@{
    ViewBag.Title = "會員管理";
    Layout = "~/Views/Shared/_Layout_Manager.cshtml";
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/PagedList.css" rel="stylesheet" />
    <link href="~/Content/PetStyle.css" rel="stylesheet" />
</head>
<body>
    <h3 class="managertitle align-content-center">
        <img src="~/Photos/cheese.png" style="width:2.5vw;height:2.5vw">　會員資料列表
    </h3>
    <p class="text-right">
        @Html.ActionLink("新增資料", "Create", new { depId = ViewBag.deptID }, new { @class = "btn btn-success" })
    </p>


        <div class="search col-4 mb-2 d-flex">
            <form class="d-flex" action="/Members/Index" method="post">
                <i style="font-size:1.6rem;" class="bi bi-search"></i>
                <input class="form-control mr-2 ml-3 col-8" type="text" placeholder="輸入會員帳號搜尋" name="membername" />
                <input class="btn btn-light" id="Submit1" type="submit" value="查詢" />
            </form>
        </div>
        <div class="col-3 mb-3 d-flex">
            <i style="font-size:1.6rem;" class="bi bi-search"></i>
            <input type="search" class="light-table-filter form-control ml-3" data-table="order-table" placeholder="輸入關鍵字搜尋">
        </div>





    <table class="table table-hover table-striped bg-light order-table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().MemberID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().MemberAccount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().MemberName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().MemberGender)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().MemberBirthday)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().CreateDate)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.MemberID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MemberAccount)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MemberName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MemberGender)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MemberBirthday)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CreateDate)
                </td>
                <td>
                    <button type="button" title="@item.MemberID" class="btn btn-info btn-sm btnDetail" data-toggle="modal" data-target="#exampleModal">
                        詳細
                    </button>
                    @*@Html.ActionLink("編輯", "Edit", new { id = item.MemberID }, new { @class = "btn btn-primary btn-sm" })
                        @Html.ActionLink("刪除", "Delete", new { id = item.MemberID }, new { @class = "btn btn-danger btn-sm" })*@
                </td>
            </tr>
        }

    </table>

    <!-- 頁籤 -->
    <div class="d-flex justify-content-center">
        @Html.PagedListPager(Model, page => Url.Action("Index", new { page }))
    </div>

    <!-- Modal -->
    <div class="modal" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header text-center border-bottom-0">
                    @*<h3 class="modal-title" id="exampleModalLabel">會員詳細資料</h3>*@
                    <h3 class="modal-title modaltitle align-content-center" id="exampleModalLabel">
                        <img src="~/Photos/cheese.png" style="width:2.5vw;height:2.5vw">　會員訂單管理
                    </h3>
                    <button type="button" class="close text-right p-3" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true" style="font-size: 30px;">&times;</span>
                    </button>
                </div>
                <div class="modal-body">

                </div>
                @*<div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>*@
            </div>
        </div>
    </div>


</body>
</html>
<script src="~/Scripts/searchtable.js"></script>

@section scripts{
    <script>

        ///*頁籤*/
        //$('.pagination-container').addClass("d-flex justify-content-center");
        //$('.pagination-container>ul>li').removeClass().addClass("page-item");
        //$('.pagination-container a').addClass("page-link");

        /*MODAL*/
        $('.btnDetail').click(function (evt) {
            //console.log("/Members/Details/" + evt.target.title);
            $('#exampleModal .modal-body').load("/Members/Details/" + evt.target.title);
        });



        (function (document) {
            'use strict';

            // 建立 LightTableFilter
            var LightTableFilter = (function (Arr) {

                var _input;

                // 資料輸入事件處理函數
                function _onInputEvent(e) {
                    _input = e.target;
                    var tables = document.getElementsByClassName(_input.getAttribute('data-table'));
                    Arr.forEach.call(tables, function (table) {
                        Arr.forEach.call(table.tBodies, function (tbody) {
                            Arr.forEach.call(tbody.rows, _filter);
                        });
                    });
                }

                // 資料篩選函數，顯示包含關鍵字的列，其餘隱藏
                function _filter(row) {
                    var text = row.textContent.toLowerCase(), val = _input.value.toLowerCase();
                    row.style.display = text.indexOf(val) === -1 ? 'none' : 'table-row';
                }

                return {
                    // 初始化函數
                    init: function () {
                        var inputs = document.getElementsByClassName('light-table-filter');
                        Arr.forEach.call(inputs, function (input) {
                            input.oninput = _onInputEvent;
                        });
                    }
                };
            })(Array.prototype);

            // 網頁載入完成後，啟動 LightTableFilter
            document.addEventListener('readystatechange', function () {
                if (document.readyState === 'complete') {
                    LightTableFilter.init();
                }
            });

        })(document);

    </script>
}

